
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2016/11/29/15/05/drink-1870139_1280.jpg);">
  <div class="container">
    <h1 class="text-center">Immense Cocktails!</h1>
  </div>
</div>

  <div class="container-index">
    <div class="cards">
    <% @cocktails.each do |cocktail| %>
     <%= link_to cocktail_path(cocktail) do %>
      <div class="flip-card">
        <div class="flip-card-inner">
           <div class="flip-card-front" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dvzul9adr/image/upload/v1574396174/vkrk3rrbscb1p0vzplw0.jpg)">
           </div>
              <div class="flip-card-back">
                <h1><%= cocktail.name %></h1>
              </div>
        </div>
      </div>
       <% end %>
     <% end %>
    </div>
   </div>





