
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1 class="text-center">Immense Cocktail recipes!</h1>
    <p></p>
  </div>
</div>

 <h1 class="text-center">List</h1>
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2> <%= cocktail.name %></h2>
            <p>Product description with <strong>relevant info</strong> only.</p>
          </div>
        </div>
    <% end %>
  <% end %>
</div>

<%= link_to "Create New", new_cocktail_path %>


