<div class="container">
  <div class="row align-content-center form-height justify-content-center">
    <div class="col-xs-12 col-sm-5">
      <h1>Create A Cocktail</h1>
      <%= render 'form', cocktail: @cocktail %>
    </div>
  </div>
</div>

<%= link_to 'Back', cocktails_path %>
