// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/card";
@import "components/banner";

.form-group > label {
  font-weight:250;
  margin-bottom: 15px 0px;
}

.container h1{
  text-align:center;
}

.simple-form .btn {
  text-align:center;
}

.container-show {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.fas {
  font-size: 15px;
}

.cocktail-ingredients {
}

.cocktail-ingredients > h4 {
   padding: 10px 187px 0 0;
}

.form-height {
  height: 600px;
}
