// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/card";
@import "components/banner";

.form-group > label {
  font-weight:250;
  margin-bottom: 15px 0px;
}

.container h1{
  text-align:center;
}

.container-new {
  background-image: url("https://cdn.pixabay.com/photo/2016/01/02/04/58/martini-1117932_1280.jpg")
}

.simple-form .btn {
  text-align:center;
}

.container-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.fas {
  font-size: 15px;
  color: #adabab;
}

.cocktail-name-img img {
  border-radius: 5px
}

.form-height {
  height: 600px;
}

.container-index {
  margin-top: 60px;
  margin-bottom: 30px;
}

.cocktail-ingredients {
  margin: 8px;
}
